<% include partials/header %>

<h1>Friend list goes here.</h1>

<% friends.forEach(function(friend) { %>
	<li>Their name is: <%= friend%></li>
<% }); %>

<form method="POST" action="/addfriend">
	<input type="text" placeholder="name" name="name">
	<button>I made a new friend!</button>
</form>

<% include partials/footer %>