<!DOCTYPE html>
<html>
	<head>
		<title>YelpCamp</title>

		<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	</head>
	<body>

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class=navbar-header>
					<a class=navbar-brand href="/">YelpCamp</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
							<li><a href="/">Login</a></li>
							<li><a href="/">Sign-in</a></li>
							<li><a href="/">Sign-up</a></li>
					</ul>
				</div>
			</div>
		</nav>