#content {
	text-align: center;
	padding-top: 25%;
	text-shadow: 0px 4px 3px rgba(0,0,0,0.4),
	0px 8px 13px rgba(0,0,0,0.2),
	0px 18px 23px rgba(0,0,0,0.1);
}

body, html {
	width: 100%;
	height: 100%;
	background: url(https://source.unsplash.com/hRwrvvZHk70);
	background-size: cover;
	background-position: center;
	font-family: Lato;
	color: white;
}

h1 {
	font-weight: 700;
	font-size: 5em;
}

hr {
	width: 400px;
	border-top: 1px solid #f8f8f8;
	border-bottom: 1px solid rgba(0,0,0,0.2);
}
