/*
DARK BLUE: #2c3e50;
LIGHT GRAY: #ecf0f1;
*/

html {
	height: 100%;
}

body {
	padding: 70px;
}

.jumbotron {
	color: #2c3e50;
	background-color: #ecf0f1;
}

.navbar-inverse {
	background-color: #2c3e50;
}

.navbar-inverse .navbar-nav>li>a {
	color: white;
}

.navbar-inverse .navbar-brand {
	color: white;
}