<html>
<head>
	
</head>
<body>
	
	<h1>My movies</h1>

	<ul>
		<% parsedData.Search.forEach((movie) => { %>
			<li><%= movie.Title %> - <%= movie.Year %></li>
		<% }) %>
	</ul>

	<a href="/">Search again</a>
</body>
</html>