<% include partials/header %>

<h1>Search for a movie</h1>

<form action="/results" method="GET">
	<input type="text" placeholder="search term" name="search">
	<input type="submit">
</form>

<% include partials/footer %>