<h1>Login page</h1>

<form action="/login" method="POST">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>Login</button>
</form>

<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>
<li><a href="/register">Register</a></li>