<!DOCTYPE html>
<html>
	<head>
		<title>YelpCamp</title>

		<!--<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="/stylesheets/app.css">
	</head>
	<body>

		<nav class="navbar navbar-default">
			<div class="container-fluid">
				<div class=navbar-header>
					<a class=navbar-brand href="/">YelpCamp</a>
				</div>
				<div class="collapse navbar-collapse">
					<ul class="nav navbar-nav navbar-right">
						<% if (!currentUser) { %>
							<li><a href="/login">Login</a></li>
							<li><a href="/register">Sign-up</a></li>
						<% } else { %>
							<li><a href="#"> Signed in as <%= currentUser.username %></a></li>
							<li><a href="/logout">Logout</a></li>
						<% } %>
					</ul>
				</div>
			</div>
		</nav>

		<div class="container">
			<% if (success && success.length > 0) { %>
				<div class="alert alert-success" role="alert">
					<%= success %>
				</div>
			<% } %>
			<% if (error && error.length > 0) { %>
				<div class="alert alert-danger" role="alert">
					<%= error %>
				</div>
			<% } %>
		</div>