<% include partials/header %>

<div class="container">
	<div class="row">
		<h1 style="text-align: center">Create a new campground</h1>
		<div class="" style="width: 30%; margin: 0 auto;">
			<form action="/campgrounds" method=POST>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="name" name="name">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="image url" name="image">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="description" name="description">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-default btn-block btn-primary">Submit</button>
				</div>
			</form>
			<a href="/">Go to landing page</a>
			<br/>
			<a href="/campgrounds">View all Campgrounds</a>
		</div>
	</div>
</div>

<% include partials/footer %>