<% include ../partials/header %>

<div class="container">
	<div class="row">
		<h1 style="text-align: center">Edit campground <em><%= campground.name %></em></h1>
		<div class="" style="width: 30%; margin: 0 auto;">
			<form action="/campgrounds/<%= campground._id%>?_method=PUT" method=POST>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="name" value="<%= campground.name %>" name="campground[name]">
				</div>
				<div class="form-group">
					<input class="form-control" type="number" placeholder="price" value="<%= campground.price %>" name="campground[price]" min="0.01" step="0.01">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="image url" value="<%= campground.image %>" name="campground[image]">
				</div>
				<div class="form-group">
					<input class="form-control" type="text" placeholder="description" value="<%= campground.description %>" name="campground[description]">
				</div>
				<div class="form-group">
					<button class="btn btn-lg btn-default btn-block btn-primary">Submit</button>
				</div>
			</form>
			<a href="/">Go to landing page</a>
			<br/>
			<a href="/campgrounds">View all Campgrounds</a>
		</div>
	</div>
</div>

<% include ../partials/footer %>