<% include ./partials/header %>

<h1>Login page</h1>

<form method="POST" action="/login">
	<input type="text" name="username" placeholder="username">
	<input type="password" name="password" placeholder="username">
	<input type="submit" value="Login">
</form>

<% include ./partials/footer %>