<% include partials/header %>

<div class="container">
	<header class="jumbotron">
		<div class="container">
			<h1>Welcome to YelpCamp</h1>
			<p>View our hand-picked campgrounds from all over the world</p>
			<p>
				<a href="/" class="btn btn-primary btn-lg">Go to landing page</a>
				<a href="/campgrounds/new" class="btn btn-primary btn-lg">Add new campground</a>
			</p>
	</div>
	</header>

	<div class="row text-center" style="display:flex; flex-wrap: wrap;">
		<% campgrounds.forEach((campground) => {%>
		<div class="col-md-3 col-sm-6">
			<div class="thumbnail">
				<img src="<%= campground.image %>">
				<div class="caption">
					<h4><%= campground.name %></h4>
				</div>
			</div>
		</div>
	<% }) %>
	</div>
</div>

<% include partials/footer %>