/*
border color: #bdc3c7
date color: #3498db
h2 color #2c3e50

font: source sans pro;

left-border and bottom-border

hr element
*/

body {
	border: 20px solid #bdc3c7;
	padding: 20px;
	max-width: 700px;
	width: 80%;
	margin: 20px auto;
}

hr { 
	border: 0; 
	height: 1px; 
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
}

h2 {
	font-family: 'Source Sans Pro', sans-serif;
	text-transform: capitalize;
	font-weight: 700;
	font-size: 2.0rem;
	color: #2c3e50;
}

.blogPost p:first-child {
	color: #3498db;
	text-transform: uppercase;
	letter-spacing: 0.2rem;
}

.quote {
	border-left: 5px solid #bdc3c7;
	padding-left: 5px;
}

p {
	font-family: 'Source Sans Pro', sans-serif;
}

.blogPost {
	margin-bottom: 20px;
}