<% include partials/header %>

<header class="jumbotron">
	<h1>This is the landing page</h1>
</header>



<p>Welcome to the Yelp camp</p>

<a href="/campgrounds/new">Add new campground</a>
<br/>
<a href="/campgrounds">View all Campgrounds</a>

<% include partials/footer %>