<% include partials/header %>

<h1><%= campground.name %></h1>
<p><%= campground.description %>

<img src="<%= campground.image %>">

<% campground.comments.forEach((comment) => {%>
	<p>
		<strong><%= comment.author %></strong> - <%= comment.text %>
	</p>
<% }); %>
<% include partials/footer %>